<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class="text-center display-3">WeatherApp</h1>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4>Tomorrow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 th:text="${Forecasts.forecast[0].date}"></h5>
          </h4>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample1">Day</a>
            <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#multiCollapseExample2" aria-expanded="false"
              aria-controls="multiCollapseExample2">Night</button>
          </div>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  <p>
                      <strong>Estonia Average:</strong><br>
                      <span th:text="${Forecasts.forecast[0].day.phenomenon}"></span><br>
                       Minimum Temperature: <span th:text="${Forecasts.forecast[0].day.tempmin}"></span><br>
                       Maximum Temperature: <span th:text="${Forecasts.forecast[0].day.tempmax}"></span><br>
                       <span th:text="${Forecasts.forecast[0].day.text}"></span>
                  </p>
                  <table class="table table-light table-hover">
                    <tr >
                      <th>City</th>
                      <th>Temp</th>
                      <th>Phenomenon</th>
                    </tr>
                    <tr th:each="place : ${Forecasts.forecast[0].day.place}">
                      <td th:text="${place.name}"></td>
                      <td th:text="${place.tempmax}"></td>
                      <td th:text="${place.phenomenon}"></td>
                    </tr>
                  </table>
                  <table class="table table-light table-hover">
                    <tr >
                      <th>Wind</th>
                      <th>Direction</th>
                      <th>Minimum Speed</th>
                      <th>Maximum Speed</th>
                      <th>Gust</th>
                    </tr>
                    <tr th:each="wind : ${Forecasts.forecast[0].day.wind}">
                      <td th:text="${wind.name}"></td>
                      <td th:text="${wind.direction}"></td>
                      <td th:text="${wind.speedmin}"></td>
                      <td th:text="${wind.speedmax}"></td>
                      <td th:text="${wind.gust}"></td>
                    </tr>
                  </table>
                  <details>
                    <summary>Sea</summary>
                    <span th:text="${Forecasts.forecast[0].day.sea}"></span>
                  </details>
                  <details>
                    <summary>Peipsi</summary>
                    <span th:text="${Forecasts.forecast[0].day.peipsi}"></span>
                  </details>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                  <p>
                      <strong>Estonia Average:</strong><br>
                      <span th:text="${Forecasts.forecast[0].night.phenomenon}"></span><br>
                       Minimum Temperature: <span th:text="${Forecasts.forecast[0].night.tempmin}"></span><br>
                       Maximum Temperature: <span th:text="${Forecasts.forecast[0].night.tempmax}"></span><br>
                       <span th:text="${Forecasts.forecast[0].night.text}"></span>
                  </p>
                  <table class="table table-dark table-hover">
                    <tr >
                      <th>City</th>
                      <th>Temp</th>
                      <th>Phenomenon</th>
                    </tr>
                    <tr th:each="place : ${Forecasts.forecast[0].night.place}">
                      <td th:text="${place.name}"></td>
                      <td th:text="${place.tempmin}"></td>
                      <td th:text="${place.phenomenon}"></td>
                    </tr>
                  </table>
                  <table class="table table-dark table-hover">
                    <tr >
                      <th>Wind</th>
                      <th>Direction</th>
                      <th>Minimum Speed</th>
                      <th>Maximum Speed</th>
                      <th>Gust</th>
                    </tr>
                    <tr th:each="wind : ${Forecasts.forecast[0].night.wind}">
                      <td th:text="${wind.name}"></td>
                      <td th:text="${wind.direction}"></td>
                      <td th:text="${wind.speedmin}"></td>
                      <td th:text="${wind.speedmax}"></td>
                      <td th:text="${wind.gust}"></td>
                    </tr>
                  </table>
                  <details>
                    <summary>Sea</summary>
                    <span th:text="${Forecasts.forecast[0].night.sea}"></span>
                  </details>
                  <details>
                    <summary>Peipsi</summary>
                    <span th:text="${Forecasts.forecast[0].night.peipsi}"></span>
                  </details>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <h5 th:text="${Forecasts.forecast[1].date}"></h5>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample3">Day</a>
            <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#multiCollapseExample4" aria-expanded="false"
              aria-controls="multiCollapseExample4">Night</button>
          </div>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[1].day.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[1].day.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[1].day.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[1].day.text}"></span>
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[1].night.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[1].night.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[1].night.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[1].night.text}"></span>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          <h5 th:text="${Forecasts.forecast[2].date}"></h5>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample5" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample5">Day</a>
            <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#multiCollapseExample6" aria-expanded="false"
              aria-controls="multiCollapseExample6">Night</button>
          </div>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample5">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[2].day.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[2].day.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[2].day.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[2].day.text}"></span>
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample6">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[2].night.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[2].night.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[2].night.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[2].night.text}"></span>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour">
          <h5 th:text="${Forecasts.forecast[3].date}"></h5>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          <p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample7" role="button"
              aria-expanded="false" aria-controls="multiCollapseExample7">Day</a>
            <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#multiCollapseExample8" aria-expanded="false"
              aria-controls="multiCollapseExample8">Night</button>
          </div>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample7">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[3].day.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[3].day.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[3].day.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[3].day.text}"></span>
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample8">
                <div class="card card-body">
                  <p>
                    <strong>Estonia Average:</strong><br>
                    <span th:text="${Forecasts.forecast[3].night.phenomenon}"></span><br>
                     Minimum Temperature: <span th:text="${Forecasts.forecast[3].night.tempmin}"></span><br>
                     Maximum Temperature: <span th:text="${Forecasts.forecast[3].night.tempmax}"></span><br>
                     <span th:text="${Forecasts.forecast[3].night.text}"></span>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>